/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("/images/untitled.png");
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 130px;
}
/*This command works for the pictures that need to fitted int the front page*/
.small-size {    
    max-width: 500px;
    height: 500px;
    padding-top: 40px;
}
/* Style the Image Used to Trigger the Modal */
#myImg0 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
 #myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 500px;
    max-width: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 65px;
    right: 65px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
.jr-padding {
    max-width: 420px;
    height: auto;
    padding-top: 40px;
}
.padding-to-the-left{
    padding-left:60px;
}
.wider-image {
    height: auto;
    width: auto;      
}
.font{
    font-size: 29px;
}
.paragraph-font{
    font-size: 25px;
    color: black;
    font: bold;
}
.logo-size{
    height: 10px;
    width: 20px;
    color:red;
}
/*This moves you down 10 em*/
.move-box {
    margin: -10px;
}
.newer-style{
    font-size: 35px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
