
@{
    ViewData["Title"] = "Index";
}

<h2>Product Home Page</h2>
<div style="display: block;">
    <a href="/product/allproducts">View All Products</a>
</div>

<div style="display: block;">
    <a hred="/product/newproduct">Add New Product</a>
</div>

