<style>
    h2, p {
        color: black;
        font-family: monospace;
    }
</style>
<h2>About Lupitas Ice Cream</h2>

<p class="paragraph-font">
    Estblished in the year 2003, Lupita's Ice Cream has been a <br />
    family favorite in the city of Oneonta. The family owned ice <br />
    cream shop embraces its cultural background through their signature <br />
    mangonoadas to their signature yogurt. Families come from <br />
    neighboring cities just to get their hands on the variety <br />
    of delicious frozen treats. Lupita's Ice Cream is preferred <br />
    amongst others in town due to their use of real fruit in <br />
    their products. The ice cream shop's customers range from all <br />
    sorts of ages, from becoming a teenage hangout spot to <br />
    becoming a family oriented spot on Sundays. Our catering ranges<br />
    from school events to church services to family parties.<br />
    So if you're in town come on down!!
</p>
