
<style>
    h2,h3, address,p{
        color:black;
        font-family:monospace;
    }
</style>
<h2>@ViewData["Title"]</h2>

<address class="font">
    Lupita's Address:<br />
    999 2nd Ave E, <br />
    Oneonta, AL 35121<br/>  
</address>
<p class="font">
    Lupita's Phone: <br />    
    (205) 274-6031
</p>

<address>
    <strong>Support:</strong> <a href="mailto:lupitasicecream03@gmail.com">Lupita's Email</a>
</address>
